.zipline-i7v8yy {
  background: rgb(45, 45, 45, 0.2);
  backdrop-filter: blur(25px);
  }
  .zipline-ze4a04 {
    background: url(
      https://www.mindswitch.me/img/content-img/news-img/web-s236.jpg
    );
    background-size: cover;
  }
  .zipline-12w7yyr {
    display:none;
  }
  .zipline-1fzzvcp, .zipline-1thltnx{
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.2) !important;
  }